pymongo
flask_script
flask_migrate
flask_mongoengine
flask-WTF
itsdangerous
Jinja2
Mako
MarkupSafe
six
python-dateutil
python-editor
setuptools
SQLAlchemy
Werkzeug
WTForms
Click
alembic
gunicorn
Flask
Flask-SQLAlchemy
Flask-Blueprint
psycopg2
flask_cors