<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>hello</h1>
<input type="text" class="input1">
<input type="text" class="input2">
<input type="text" class="input3">
<button type="button" onclick="test1()">瓦片数据</button>
<button type="button" onclick="test9()">道路数据及横断面</button>
<button type="button" onclick="test2()" disabled="disabled">确定2</button>
<button type="button" onclick="test3()" disabled="disabled">绿地率</button>
<button type="button" onclick="test4()" disabled="disabled">一级管控区小类转换</button>
<button type="button" onclick="test5()" disabled="disabled">一级管控区自定义查询</button>
<button type="button" onclick="test6()" disabled="disabled">管控区面积比重查询</button>
<button type="button" onclick="test7()" disabled="disabled">管控区自定义大类型转化</button>
<button type="button" onclick="test8()" disabled="disabled">管控区自定义小类型查询</button>
</body>
<script type="text/javascript">
    function test9() {
        $.get("/jn_api/v1.0/JN/JN_DL/dl_search_road/"+117514.12+"/"+276346.45+"/", function (data, data1) {
            console.log(data)
            console.log(data1)
        });
    }
    function test8() {
        data = {
            'meta_datas':[{'meta_ydxz': '田', 'meta_shape_area':"72887.5912934"},{'meta_ydxz':'保留村庄', 'meta_shape_area':109419.097530}],
            'ydlb':'工业园区'
        }
        $.ajax({
            type:"GET",
            url:"/jn_api/v1.0/JN/JN_GKQ/gkq_custom_convert_small/",
            data:JSON.stringify(data),
            contentType:"application/json",
            success:function(data){
                console.log(data)
            }
        })

    }
    function test7() {
        data = {
            'gid': [1, 2],
            'ydxz':'水',
            'ydlb':'河道'
        }
        $.ajax({
            type:"PUT",
            url:"/jn_api/v1.0/JN/JN_GKQ/gkq_custom_transformation_big/",
            data:JSON.stringify(data),
            contentType:"application/json",
            success:function(data){
                console.log(data)
            }
        })

    }
    function test6(){
        $.get("/jn_api/v1.0/JN/JN_GKQ/gkq_area_search/", function (data) {
            console.log(data)

        });
    }
    function test5() {
        data = {
            'rings': [
                [113703.85683807955,277786.66251242213],
                [113888.0072063803,277748.562436222],
                [113712.32352167959,277600.3954732214],
                [113703.85683807955,277786.66251242213]
            ]
        }
        $.ajax({
            type:"GET",
            url:"/jn_api/v1.0/JN/JN_GKQ/gkq_find_info_custom/",
            data:JSON.stringify(data),
            contentType:"application/json",
            success:function(data){
                console.log(data)
            }
        })

    }
    function test2(){
        var ydxz = $(".input1").val()
        var ssmc = $(".input2").val()
        // $.get("/jn_api/v1.0/JN/JN_KG/search_info/" +ydxz+"/"+ssmc+"/", function (data) {
        //     console.log(data)
        // });
        data = {
            "ydxz": ydxz,
            "ssmc": ssmc
        }
        $.ajax({
           type:"GET",
            url:"/jn_api/v1.0/JN/JN_KG/search_info1/",
            data:JSON.stringify(data),
            contentType:"application/json",
            success:function(data){
                console.log(data)
            }
        })
    }
    function test3() {
        var x = $(".input1").val();
        var y = $(".input2").val();
            $.get("/jn_api/v1.0/JN/JN_KG/search_element/LDL/" +x+"/"+ y+"/", function (data) {
            console.log(data)
        });
    }
    function test4() {
        // var ydxz = $(".input1").val();
        // var ydlb = $(".input2").val();
        // var gid = $(".input3").val();
        var data = {
            "gid": 1,
            "ydlb": '交通设施',
            "meta_shape_area": 254349.070523,
            "meta_ydxz":'保留村庄'
        }
        $.ajax({
            type:"GET",
            url:"/jn_api/v1.0/JN/JN_GKQ/gkq_convert_info_small/",
            data:JSON.stringify(data),
            contentType:"application/json",
            success:function(data){
                console.log(data)
            }
        })
    }
    // function test1(){
    //     var data = {
    //         'ydxz': $(".input1").val(),
    //         'ssmc': $(".input2").val(),
    //     }
    //     console.log(data)
    //     $.ajax({
    //         type:"post",
    //         url:"/jn_api/v1.0/JN/JN_KG/search_info/",
    //         data:JSON.stringify(data),
    //         contentType: "application/json",
    //         success:function(data){
    //             alert(JSON.stringify(data));
    //             console.log(data)
    //             // for(var attr in data){
    //             //     for(var i=0;i<data[attr].features.length;i++){
    //             //         alert(JSON.stringify(data[attr].features[i]))
    //             //     }
    //             // }
    //
    //         },
    //         error:function(xhr, type){
    //
    //         }
    //     })
    // }
    function test1() {
        $.get("/jn_api/v1.0/JN/JNDL/MapServer/tile/" +0+"/"+5+"/"+3+"/", function (data) {
            console.log(data)
        });
        $.get("/jn_api/v1.0/JN/JNYX/MapServer/tile/" +0+"/"+5+"/"+2+"/", function (data) {
            console.log(data)
        });
        $.get("/jn_api/v1.0/JN/JNDLHDM/MapServer/tile/" +0+"/"+5+"/"+3+"/", function (data) {
            console.log(data)
        });
        $.get("/jn_api/v1.0/JN/JNDY/MapServer/tile/" +0+"/"+5+"/"+3+"/", function (data) {
            console.log(data)
        });
        $.get("/jn_api/v1.0/JN/JNGKQXZ/MapServer/tile/" +0+"/"+5+"/"+3+"/", function (data) {
            console.log(data)
        });
        $.get("/jn_api/v1.0/JN/JNGX/MapServer/tile/" +0+"/"+5+"/"+3+"/", function (data) {
            console.log(data)
        });
        $.get("/jn_api/v1.0/JN/JNKG/MapServer/tile/" +0+"/"+5+"/"+3+"/", function (data) {
            console.log(data)
        });
        $.get("/jn_api/v1.0/JN/JNYJGKQ/MapServer/tile/" +0+"/"+5+"/"+3+"/", function (data) {
            console.log(data)
        });
         $.get("/jn_api/v1.0/JN/JNZJ/MapServer/tile/" +0+"/"+6+"/"+3+"/", function (data) {
            console.log(data)
        });
    }
</script>
</html>